<div class="content">
  <sl-button (click)="show()">Show Sponsors</sl-button><sl-button (click)="hide()">Hide Sponsors</sl-button> <sl-button (click)="change()">Change Sponsors</sl-button> 
  <h1 class="section-title">Talks</h1>
    <div class="talks">
      <ws-talk
        title="Angular Elements"
        description="How to write Angular and get Web Components"
        speaker="Bruno"
        tags='["Angular", "Elements"]'>
    </ws-talk>
    </div>

    <h1 class="section-title">Sponsors</h1>
    <div class="sponsors" #sponsors>

    </div>
</div>